@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Custom properties, update these for your design */
:root {
  --body-font: "Poppins", sans-serif;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;

  --text-color: #01161e;
  --title-color: #01161e;
  --primary-color: #eef4ed;
  --secondary-color: #8dd5ff;
  --accent-color: #9f95ad;
  --purple-color: #433765;
  --red-color: #d0202a;

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --medium-screen: 968px;
}

/* Base styles */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--primary-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.main {
  margin: 3rem 0;
}

/* reusable css classes */
.container {
  max-width: var(--medium-screen);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* profile */
.profile {
  position: relative;
  padding-top: 3.5rem;
}

.profile__container {
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__image-container {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}

.profile__image-container img {
  height: 100%;
}

.profile__border {
  border: 3.5px solid var(--accent-color);
  justify-self: center;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.profile__intro {
  font-size: var(--h1-font-size);
}

.profile__profession {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-500);
}

/* social icons */

.profile__social {
  display: flex;
  padding: 0;
  justify-content: center;
  column-gap: 0.75rem;
}

.profile__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: all 0.5s ease-in-out;
}

.profile__social-link:hover {
  color: var(--accent-color);
}

.profile__info-description {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-weight-500);
}

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
}

.button i {
  font-size: 1.25rem;
}

.button:hover {
  background-color: var(--accent-color);
}

.button__small {
  padding: 0.75rem;
  box-shadow: none;
}

.filters__content {
  margin: 2rem 0 2.5rem;
  background-color: var(--accent-color);
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.filters__button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: var(--font-weight-500);
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.filters__button:hover {
  background-color: var(--primary-color);
}


.filters [data-content] {
  display: none;
}

.filters__active[data-content] {
  display: grid;
}

.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.projects__card img {
  width: 100%;
  height: 100%;
}

.projects__modal {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
  top: auto;
  right: auto;
  background: linear-gradient(
    180deg,
    rgba(67, 55, 101, 0) 0%,
    rgba(67, 55, 101, 0.94) 63%,
    rgba(67, 55, 101, 0.96) 100%
  );
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: all 0.5s ease-in-out;
}

.projects__title,
.projects__subtitle {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.projects__subtitle {
  font-size: var(--small-font-size);
}

.projects__title {
  font-size: var(--h3-font-size);
}

.projects__button {
  padding: 0.5rem;
}

.projects__card:hover .projects__modal {
  bottom: 0;
}

.skills__content {
  column-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

.skills__title {
  font-size: var(--h3-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.skills__box {
  display: flex;
  justify-content: center;
  row-gap: 3rem;
  flex-wrap: wrap;
  flex-direction: row;
}

.skills__group {
  flex: 1 1 50%;
}

.skills__data {
  display: flex;
  column-gap: 1rem;
}

.skills__data i {
  font-size: 1rem;
  color: var(--secondary-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: 500;
  line-height: 18px;
}

.footer__copy {
  display: block;
  margin: 2.5rem 0;
  text-align: center;
  font-size: var(--smaller-font-size);
}

::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: var(--accent-color);
}


::-webkit-scrollbar-thumb {
  width: .6rem;
  border-radius: .5rem;
  background-color: var(--purple-color);
}

/* media queries */

@media screen and (max-width: 640px) {
  .skills__box {
    flex-direction: column;
  }
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }

  .container {
    margin: 0 auto;
  }

  .projects__content {
    grid-template-columns: 1fr 1fr;  
  }
}
