@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Custom properties, update these for your design */
:root {
  --body-font: "Poppins", sans-serif;

  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;

  --text-color: #01161e;
  --title-color: #01161e;
  --primary-color: #eef4ed;
  --secondary-color: #8dd5ff;
  --accent-color: #9f95ad;
  --red-color: #d0202a;

  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --medium-screen: 968px;
}

/* Base styles */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--primary-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* reusable css classes */
.container {
  max-width: var(--medium-screen);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* profile */
.profile {
  position: relative;
  padding-top: 3.5rem;
}

.profile__container {
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__image-container {
  width: 100px;
  height: 100px;
  /* background: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  ); */
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}

.profile__image-container img {
  height: 100%;
}

.profile__border {
  border: 3.5px solid navy;
  justify-self: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.profile__intro {
  font-size: var(--h1-font-size);
}

.profile__profession {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-500);
}

/* social icons */

.profile__social {
  display: flex;
  padding: 0;
  justify-content: center;
  column-gap: 0.75rem;
}

.profile__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: 0.3s;
}

.profile__social-link:hover {
  color: var(--accent-color);
}

.profile__info {
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  column-gap: 2.5rem;
  text-align: center;
}

.profile__info-description {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-weight-500);
}

/* media queries */

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }

  .container {
    margin: 0 auto;
  }
}
